.tickets_block{
	width: 100%;
}

.tickets_table{
	width: 100%;
	text-align: center;
        line-height: 25px;
	border-collapse: collapse;
	background-color: #f8f8f8;
	border-radius: 5px;
        font-size: 15px;
}

.tickets_table th{
	background-color: #7f8c8c;
	color: #ffffff;
}

.tickets_table th , td{
	margin: 0px;
	padding: 10px;
	border-bottom: 1px solid  #ddd;
}

.tickets_table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tickets_table tr:hover{
	background-color:#7f8c8c; 
	color: #ffffff;
}