<link rel="stylesheet" type="text/css" href="templates/admin/header.css">

<div class="header">


	<div class="container">
		<div class="header_logo">
			<img class="header_logo_image" src="img/icon.png">
                        
                        
			<div class="header_logo_text">
				Система бронирования<br> автобусных билетов
			</div>
		</div>


		<div class="header_nav">
			<ul>
				<li>
					<a id="link_1" href="index.php">Главная</a>
				</li>
				<li>
					<a id="link_2" href="routes.php">Маршруты</a>
				</li>
				<li>
					<a id="link_3" href="ticket.php">Билеты</a>
				</li>
				<li>
					<a id="link_4" href="order.php">Заказы</a>
				</li>
				<li>
					<a href="script/admin/sc_logout.php">Выйти</a>
				</li>
			</ul>
		</div>



	</div>

	<img class="header_decor" src="img/header_path.png">

</div>